.main-layout {
  @apply flex flex-col;
}

.main-layout > header,
.main-layout > footer {
  @apply bg-gray-900 text-slate-200 p-4;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  width: 20%;
  min-width: 260px;
  background-color: #ccc;
  padding: 1rem;
}
.side-bar > nav > ul {
  padding: 0;
}
.side-bar > nav > ul > li {
  list-style: none;
}

.side-bar > nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.content-area {
  flex-grow: 1;
  padding: 1rem;
}

.main-layout > * {
  border: 1px solid #ccc;
}
